body {
  background: black;
}
#container {
  margin: 10px 100px 10px 100px;
}
.search-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 0 15px;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0 10px 40px #d79f7c, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

form {
  height: 96px;
}

input[type="text"] {
  width: 100%;
  height: 50px;
  font-size: 30px;
  line-height: 1;
  font-family: Roboto;
}

input[type="text"]::placeholder {
  color: black;
}

#s-cover {
  width: 1px;
  padding-left: 15px;
}

button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 43px;
  height: 43px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid black;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 62px;
  left: 38px;
  display: block;
  width: 45px;
  height: 20px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: black;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: black;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: black;
}
input,
button {
  color: black;
  font-family: Roboto;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
.current {
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #fadfa8;
  max-width: 600px;
  background-image: url("src/images/clouds.jpg");
  background-size: cover;
  box-shadow: #d79f7c 0 0 80px;
  display: block;
  margin: 0 auto;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
h4 {
  padding: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
}
.currentWeather {
  font-size: 100px;
}
p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 25px;
}
.col {
  text-align: center;
}
.future {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.dayOne {
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  max-width: 100px;
  border-color: #fadfa8;
  background-image: url("src/images/clouds.jpg");
  background-size: cover;
  box-shadow: #d79f7c 0 0 80px;
  display: block;
  margin: 0 auto;
}
.dayTwo {
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  max-width: 100px;
  border-color: #fadfa8;
  background-image: url("src/images/clouds.jpg");
  background-size: cover;
  box-shadow: #d79f7c 0 0 80px;
  display: block;
  margin: 0 auto;
}
.dayThree {
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  max-width: 100px;
  border-color: #fadfa8;
  background-image: url("src/images/clouds.jpg");
  background-size: cover;
  box-shadow: #d79f7c 0 0 80px;
  display: block;
  margin: 0 auto;
}
.dayFour {
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  max-width: 100px;
  border-color: #fadfa8;
  background-image: url("src/images/clouds.jpg");
  background-size: cover;
  box-shadow: #d79f7c 0 0 80px;
  display: block;
  margin: 0 auto;
}
.dayFive {
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  max-width: 100px;
  border-color: #fadfa8;
  background-image: url("src/images/clouds.jpg");
  background-size: cover;
  box-shadow: #d79f7c 0 0 80px;
  display: block;
  margin: 0 auto;
}
.futureWeather {
  font-size: 30px;
}
footer {
  text-align: center;
  color: white;
}
